.basic-info {
  font-size: 20px;
  color: white;
  padding: 50px;
  .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid #ccc;
    overflow: hidden;
    object-fit: cover;

    img {
      object-fit: cover;
    }
  }

  .name {
    font-size: 40px;
    font-weight: bold;
  }
}

.education,
.working,
.skill {
  font-size: 20px;
  color: white;
  padding: 50px;
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
}
