.jobContainer{
    color: #fff;
    .jobList{
        max-height: 100vh;
        overflow-y: auto;
    }
    .jobContent{
        max-height: 100vh;
        overflow-y: auto;
        min-height: 10vh;
    }
    .jobContent :hover{
        cursor: pointer;
        background-color: #18a2b8;
    }
    .jobList::-webkit-scrollbar {
        height: 4px;
        position: absolute;
        right: -5px;
        width: 3px;
      }
      .jobList::-webkit-scrollbar-track {
        background-color: #606a6d;
      }
      .jobList::-webkit-scrollbar-thumb {
        border-radius: 1rem;
      }
}