.loading-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #f5f5f5;
  color: #333;
  font-weight: bold;
}

.loading-indicator::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #333;
  animation: loadingAnimation 1s linear infinite;
}

@keyframes loadingAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
