.resume2 {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: "#fff";

  .base {
    display: flex;
    justify-content: space-between;
  }

  .profile {
    display: flex;
    align-items: center;

    .photo {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .info {
      margin-left: 20px;
    }

    .name {
      font-size: 24px;
      margin: 0;
    }

    .date-of-birth {
      margin: 5px 0;
    }
  }

  .contact {
    flex-grow: 1;
    text-align: right;

    h3 {
      font-size: 18px;
      margin-top: 0;
    }

    a {
      color: inherit;
      text-decoration: none;
      display: block;
      margin-bottom: 5px;
    }

    i {
      margin-right: 5px;
    }
  }

  .func {
    margin-top: 40px;

    h3 {
      font-size: 18px;
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 10px 0;
    }

    li {
      margin-bottom: 10px;
    }

    li span {
      font-weight: bold;
    }

    li small {
      display: block;
      color: #666;
    }

    .skills-bar {
      width: 100%;
      background-color: #ddd;
      height: 10px;
      border-radius: 5px;
      overflow: hidden;

      .bar {
        width: 0;
        height: 100%;
        background-color: #333;
      }
    }

    .interests-items {
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;

      div {
        display: flex;
        align-items: center;
        margin-right: 10px;

        i {
          margin-right: 5px;
        }
      }
    }
  }
}
