.resume {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;

  .base {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .right {
    flex: 2;
    padding-left: 2rem;
  }

  .photo {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 2rem;
  }

  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  .date-of-birth {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  .contact {
    margin-top: 2rem;
  }

  .contact h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .call a,
  .address a,
  .email a,
  .website a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #333;
    text-decoration: none;
  }

  .call a:hover,
  .address a:hover,
  .email a:hover,
  .website a:hover {
    color: #1c7ed6;
  }

  .call a i,
  .address a i,
  .email a i,
  .website a i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #1c7ed6;
  }

  .call a span,
  .address a span,
  .email a span,
  .website a span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .work,
  .edu,
  .skills-prog,
  .interests {
    margin-top: 2rem;
  }

  .work h3,
  .edu h3,
  .skills-prog h3,
  .interests h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .work ul,
  .edu ul,
  .skills-prog ul,
  .interests ul {
    list-style: none;
    padding-left: 0;
  }

  .work li,
  .edu li,
  .skills-prog li,
  .interests li {
    margin-bottom: 1rem;
  }

  .work li span,
  .edu li span,
  .skills-prog li span,
  .interests li span {
    font-size: 1.2rem;
    font-weight: 600;
    display: block;
    margin-bottom: 0.5rem;
  }

  .work li small,
  .edu li small,
  .skills-prog li small,
  .interests li small {
    font-size: 1rem;
    font-weight: 400;
    display: block;
  }

  .skills-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #ddd;
    border-radius: 50px;
    overflow: hidden;
  }

  .skills-bar .bar {
    height: 100%;
    background-color: #1c7ed6;
    border-radius: 50px;
  }

  .interests-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .interests-items div {
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    margin-bottom: 1rem;
  }

  .interests-items i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #1c7ed6;
  }

  .interests-items span {
    font-size: 1.2rem;
    font-weight: 600;
  }

  @media screen and (max-width: 768px) {
    .base {
      flex-direction: column;
    }

    .left {
      order: 2;
      margin-top: 2rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    .right {
      order: 1;
      padding-left: 0;
    }

    .name {
      font-size: 2rem;
    }

    .date-of-birth {
      font-size: 1rem;
    }

    .photo {
      width: 6rem;
      height: 6rem;
      margin-right: 0;
      margin-bottom: 1rem;
    }

    .contact h3 {
      font-size: 1.2rem;
    }

    .call a,
    .address a,
    .email a,
    .website a {
      margin-bottom: 0.8rem;
    }

    .call a i,
    .address a i,
    .email a i,
    .website a i {
      font-size: 1.2rem;
      margin-right: 0.8rem;
    }

    .call a span,
    .address a span,
    .email a span,
    .website a span {
      font-size: 1rem;
    }

    .work li span,
    .edu li span,
    .skills-prog li span,
    .interests li span {
      font-size: 1rem;
    }

    .work li small,
    .edu li small,
    .skills-prog li small,
    .interests li small {
      font-size: 0.9rem;
    }

    .interests-items div {
      margin-right: 1rem;
      margin-bottom: 0.8rem;
    }

    .interests-items i {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    .interests-items span {
      font-size: 1rem;
    }
  }
}
