@import "https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap";
body {
  font-family: "Raleway", sans-serif;
  background-color: #f7f7f7;
}
.signup-1 {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  margin: 120px 80px;
  .signup-box {
    font-size: 1rem;
    padding: 15px 15px 15px 30px;
    .signup-title {
      font-size: 40px;
      font-weight: 600;
      color: #151865;
    }
    .signup-p {
      font-weight: 300;
      color: #151865;
      font-size: 20px;
    }
  }
  .back-img {
    max-width: 100%;
    height: auto;
  }
  .go-home {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a {
    color: #151865;
    text-decoration: none;
  }
  .form-group {
    padding: 15px 20px 5px 0px;
    label {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    .signup-label {
      // i want * is red color
      span {
        color: red;
      }
    }

    .password-control {
      position: relative;
      .password-icon {
        width: 50px;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }

    .form-control {
      padding: 0.81rem 0.96rem;
      border-color: #45b4d0;
      border-radius: 0;
      font-weight: 300;
      color: #151865;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  .input-group {
    padding: 15px 20px 5px 0px;
  }
  .btn-primary {
    background-color: #45b4d0;
    border-color: #45b4d0;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px 0px 20px;
    border-radius: 5px;
    &:hover {
      background-color: #006adb;
      border-color: #006adb;
    }
  }
  .btn-link {
    color: #1428bf;
  }
}
.img-box {
  max-height: 700px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .signup-1 {
    padding: 0px;
    overflow: visible;
    height: 100%;
  }
  .signup-form {
    margin: 10px;
    overflow: visible;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
